### ETL Project: THINGS TO DO BY COUNTRY
#### Top 20 Attractions By Country Report

#### Project Dependancies

In [50]:
from webdriver_manager.chrome import ChromeDriverManager

# Using selenium industry standard as suggested
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import requests
from bs4 import BeautifulSoup
import time

from urllib.parse import urljoin

import pandas as pd

# Import weather_API key
from api_keys import weather_api_key

# Import google_API key
from api_keys import g_key

import sqlalchemy
from sqlalchemy_utils import database_exists, create_database

### Extract:
### Extract List Of Countries From www.geonames.org

In [52]:
geonames_countries_url = 'https://www.geonames.org/countries/'


geonames_countries_html = pd.read_html(geonames_countries_url)

geonames_countries_df = geonames_countries_html[1]
geonames_countries_df.drop(geonames_countries_df.columns[[0, 1, 2, 3, 8]], axis = 1, inplace = True) 

geonames_countries_df

                  Country           Capital  Area in km²  Population
0                 Andorra  Andorra la Vella        468.0       77006
1    United Arab Emirates         Abu Dhabi      82880.0     9630959
2             Afghanistan             Kabul     647500.0    37172386
3     Antigua and Barbuda        St. John's        443.0       96286
4                Anguilla        The Valley        102.0       13254
..                    ...               ...          ...         ...
247                 Yemen             Sanaa     527970.0    28498687
248               Mayotte         Mamoudzou        374.0      279471
249          South Africa          Pretoria    1219912.0    57779622
250                Zambia            Lusaka     752614.0    17351822
251              Zimbabwe            Harare     390580.0    14439018

[252 rows x 4 columns]

### Transform: 
#### Extract List Of Top 20 Attractions By Country And Transform Into One DataFrame By Including The Country ID And Country Name To The Extracted Country Attraction DataFrame

In [46]:
country_attraction_list = []
google_places_search_api_url = 'https://maps.googleapis.com/maps/api/place/textsearch/json'
#weather_api_url = "http://api.openweathermap.org/data/2.5/weather?"

# Build partial query URL
#weather_query_url = f"{weather_api_url}appid={weather_api_key}&units=imperial"

for index, vacation_country in geonames_countries_df.iterrows():
    
    print (f"Finding Top 20 Attractions In {vacation_country['Country']}")
    # build the parameters for google places search api call to get the top 20 attractions
    params = {
        "query": f"things+to+do,+{vacation_country['Country']}",
        "language": "en",
        "key": g_key
        #,"types": ["tourist_attraction","museum","point_of_interest"]
    }
    # call the api with the params and get the json/api response
    response = requests.get(google_places_search_api_url, params=params).json()
    attraction_results = response["results"]
    
    #now iterate each attraction to create a dictionary item for the attraction list
    for attraction_result in attraction_results:
        
        lat = attraction_result['geometry']['location']['lat']
        lng = attraction_result['geometry']['location']['lng']
        #weather_query_url = f"{weather_query_url}&lat={lat}&lon={lng}"
        #weather_response = requests.get(weather_query_url)
        
        
        #if weather_response_json is None:
            #Current_Temperature = None
        #else:
            #weather_response_json = weather_response.json()
            #Current_Temperature = weather_response_json['main']['temp']
        
        rating = None
        if 'rating' in attraction_result:
            rating = attraction_result["rating"]
        
        country_attraction_list.append(dict({
            "Country_ID" : index,
            "Country" : vacation_country['Country'],
            "Attraction" : attraction_result['name'],
            "Rating" : rating,
            "Lattitude" : lat,
            "Longitude" : lng            
            #,"Current_Temperature" : weather_response_json['main']['temp']
        })) 

#convert the dictionary to the data frame        
country_attraction_df = pd.DataFrame(country_attraction_list)
country_attraction_df

Finding Top 20 Attractions In Andorra
Finding Top 20 Attractions In United Arab Emirates
Finding Top 20 Attractions In Afghanistan
Finding Top 20 Attractions In Antigua and Barbuda
Finding Top 20 Attractions In Anguilla
Finding Top 20 Attractions In Albania
Finding Top 20 Attractions In Armenia
Finding Top 20 Attractions In Netherlands Antilles
Finding Top 20 Attractions In Angola
Finding Top 20 Attractions In Antarctica
Finding Top 20 Attractions In Argentina
Finding Top 20 Attractions In American Samoa
Finding Top 20 Attractions In Austria
Finding Top 20 Attractions In Australia
Finding Top 20 Attractions In Aruba
Finding Top 20 Attractions In Ãland
Finding Top 20 Attractions In Azerbaijan
Finding Top 20 Attractions In Bosnia and Herzegovina
Finding Top 20 Attractions In Barbados
Finding Top 20 Attractions In Bangladesh
Finding Top 20 Attractions In Belgium
Finding Top 20 Attractions In Burkina Faso
Finding Top 20 Attractions In Bulgaria
Finding Top 20 Attractions In Bahrain
Finding Top 20 Attractions In Burundi
Finding Top 20 Attractions In Benin
Finding Top 20 Attractions In Saint BarthÃ©lemy
Finding Top 20 Attractions In Bermuda
Finding Top 20 Attractions In Brunei
Finding Top 20 Attractions In Bolivia
Finding Top 20 Attractions In Bonaire, Sint Eustatius, and Saba
Finding Top 20 Attractions In Brazil
Finding Top 20 Attractions In Bahamas
Finding Top 20 Attractions In Bhutan
Finding Top 20 Attractions In Bouvet Island
Finding Top 20 Attractions In Botswana
Finding Top 20 Attractions In Belarus
Finding Top 20 Attractions In Belize
Finding Top 20 Attractions In Canada
Finding Top 20 Attractions In Cocos [Keeling] Islands
Finding Top 20 Attractions In DR Congo
Finding Top 20 Attractions In Central African Republic
Finding Top 20 Attractions In Congo Republic
Finding Top 20 Attractions In Switzerland
Finding Top 20 Attractions In Ivory Coast
Finding Top 20 Attractions In Cook Islands
Finding Top 20 Attractions In Chile
Finding Top 20 Attractions In Cameroon
Finding Top 20 Attractions In China
Finding Top 20 Attractions In Colombia
Finding Top 20 Attractions In Costa Rica
Finding Top 20 Attractions In Serbia and Montenegro
Finding Top 20 Attractions In Cuba
Finding Top 20 Attractions In Cabo Verde
Finding Top 20 Attractions In CuraÃ§ao
Finding Top 20 Attractions In Christmas Island
Finding Top 20 Attractions In Cyprus
Finding Top 20 Attractions In Czechia
Finding Top 20 Attractions In Germany
Finding Top 20 Attractions In Djibouti
Finding Top 20 Attractions In Denmark
Finding Top 20 Attractions In Dominica
Finding Top 20 Attractions In Dominican Republic
Finding Top 20 Attractions In Algeria
Finding Top 20 Attractions In Ecuador
Finding Top 20 Attractions In Estonia
Finding Top 20 Attractions In Egypt
Finding Top 20 Attractions In Western Sahara
Finding Top 20 Attractions In Eritrea
Finding Top 20 Attractions In Spain
Finding Top 20 Attractions In Ethiopia
Finding Top 20 Attractions In Finland
Finding Top 20 Attractions In Fiji
Finding Top 20 Attractions In Falkland Islands
Finding Top 20 Attractions In Micronesia
Finding Top 20 Attractions In Faroe Islands
Finding Top 20 Attractions In France
Finding Top 20 Attractions In Gabon
Finding Top 20 Attractions In United Kingdom
Finding Top 20 Attractions In Grenada
Finding Top 20 Attractions In Georgia
Finding Top 20 Attractions In French Guiana
Finding Top 20 Attractions In Guernsey
Finding Top 20 Attractions In Ghana
Finding Top 20 Attractions In Gibraltar
Finding Top 20 Attractions In Greenland
Finding Top 20 Attractions In Gambia
Finding Top 20 Attractions In Guinea
Finding Top 20 Attractions In Guadeloupe
Finding Top 20 Attractions In Equatorial Guinea
Finding Top 20 Attractions In Greece
Finding Top 20 Attractions In South Georgia and South Sandwich Islands
Finding Top 20 Attractions In Guatemala
Finding Top 20 Attractions In Guam
Finding Top 20 Attractions In Guinea-Bissau
Finding Top 20 Attractions In Guyana
Finding Top 20 Attractions In Hong Kong
Finding Top 20 Attractions In Heard Island and McDonald Islands
Finding Top 20 Attractions In Honduras
Finding Top 20 Attractions In Croatia
Finding Top 20 Attractions In Haiti
Finding Top 20 Attractions In Hungary
Finding Top 20 Attractions In Indonesia
Finding Top 20 Attractions In Ireland
Finding Top 20 Attractions In Israel
Finding Top 20 Attractions In Isle of Man
Finding Top 20 Attractions In India
Finding Top 20 Attractions In British Indian Ocean Territory
Finding Top 20 Attractions In Iraq
Finding Top 20 Attractions In Iran
Finding Top 20 Attractions In Iceland
Finding Top 20 Attractions In Italy
Finding Top 20 Attractions In Jersey
Finding Top 20 Attractions In Jamaica
Finding Top 20 Attractions In Jordan
Finding Top 20 Attractions In Japan
Finding Top 20 Attractions In Kenya
Finding Top 20 Attractions In Kyrgyzstan
Finding Top 20 Attractions In Cambodia
Finding Top 20 Attractions In Kiribati
Finding Top 20 Attractions In Comoros
Finding Top 20 Attractions In St Kitts and Nevis
Finding Top 20 Attractions In North Korea
Finding Top 20 Attractions In South Korea
Finding Top 20 Attractions In Kuwait
Finding Top 20 Attractions In Cayman Islands
Finding Top 20 Attractions In Kazakhstan
Finding Top 20 Attractions In Laos
Finding Top 20 Attractions In Lebanon
Finding Top 20 Attractions In Saint Lucia
Finding Top 20 Attractions In Liechtenstein
Finding Top 20 Attractions In Sri Lanka
Finding Top 20 Attractions In Liberia
Finding Top 20 Attractions In Lesotho
Finding Top 20 Attractions In Lithuania
Finding Top 20 Attractions In Luxembourg
Finding Top 20 Attractions In Latvia
Finding Top 20 Attractions In Libya
Finding Top 20 Attractions In Morocco
Finding Top 20 Attractions In Monaco
Finding Top 20 Attractions In Moldova
Finding Top 20 Attractions In Montenegro
Finding Top 20 Attractions In Saint Martin
Finding Top 20 Attractions In Madagascar
Finding Top 20 Attractions In Marshall Islands
Finding Top 20 Attractions In North Macedonia
Finding Top 20 Attractions In Mali
Finding Top 20 Attractions In Myanmar
Finding Top 20 Attractions In Mongolia
Finding Top 20 Attractions In Macao
Finding Top 20 Attractions In Northern Mariana Islands
Finding Top 20 Attractions In Martinique
Finding Top 20 Attractions In Mauritania
Finding Top 20 Attractions In Montserrat
Finding Top 20 Attractions In Malta
Finding Top 20 Attractions In Mauritius
Finding Top 20 Attractions In Maldives
Finding Top 20 Attractions In Malawi
Finding Top 20 Attractions In Mexico
Finding Top 20 Attractions In Malaysia
Finding Top 20 Attractions In Mozambique
Finding Top 20 Attractions In Namibia
Finding Top 20 Attractions In New Caledonia
Finding Top 20 Attractions In Niger
Finding Top 20 Attractions In Norfolk Island
Finding Top 20 Attractions In Nigeria
Finding Top 20 Attractions In Nicaragua
Finding Top 20 Attractions In Netherlands
Finding Top 20 Attractions In Norway
Finding Top 20 Attractions In Nepal
Finding Top 20 Attractions In Nauru
Finding Top 20 Attractions In Niue
Finding Top 20 Attractions In New Zealand
Finding Top 20 Attractions In Oman
Finding Top 20 Attractions In Panama
Finding Top 20 Attractions In Peru
Finding Top 20 Attractions In French Polynesia
Finding Top 20 Attractions In Papua New Guinea
Finding Top 20 Attractions In Philippines
Finding Top 20 Attractions In Pakistan
Finding Top 20 Attractions In Poland
Finding Top 20 Attractions In Saint Pierre and Miquelon
Finding Top 20 Attractions In Pitcairn Islands
Finding Top 20 Attractions In Puerto Rico
Finding Top 20 Attractions In Palestine
Finding Top 20 Attractions In Portugal
Finding Top 20 Attractions In Palau
Finding Top 20 Attractions In Paraguay
Finding Top 20 Attractions In Qatar
Finding Top 20 Attractions In RÃ©union
Finding Top 20 Attractions In Romania
Finding Top 20 Attractions In Serbia
Finding Top 20 Attractions In Russia
Finding Top 20 Attractions In Rwanda
Finding Top 20 Attractions In Saudi Arabia
Finding Top 20 Attractions In Solomon Islands
Finding Top 20 Attractions In Seychelles
Finding Top 20 Attractions In Sudan
Finding Top 20 Attractions In Sweden
Finding Top 20 Attractions In Singapore
Finding Top 20 Attractions In Saint Helena
Finding Top 20 Attractions In Slovenia
Finding Top 20 Attractions In Svalbard and Jan Mayen

Finding Top 20 Attractions In Slovakia
Finding Top 20 Attractions In Sierra Leone
Finding Top 20 Attractions In San Marino
Finding Top 20 Attractions In Senegal
Finding Top 20 Attractions In Somalia
Finding Top 20 Attractions In Suriname
Finding Top 20 Attractions In South Sudan
Finding Top 20 Attractions In SÃ£o TomÃ© and PrÃ­ncipe
Finding Top 20 Attractions In El Salvador
Finding Top 20 Attractions In Sint Maarten
Finding Top 20 Attractions In Syria
Finding Top 20 Attractions In Eswatini
Finding Top 20 Attractions In Turks and Caicos Islands
Finding Top 20 Attractions In Chad
Finding Top 20 Attractions In French Southern Territories
Finding Top 20 Attractions In Togo
Finding Top 20 Attractions In Thailand
Finding Top 20 Attractions In Tajikistan
Finding Top 20 Attractions In Tokelau
Finding Top 20 Attractions In Timor-Leste
Finding Top 20 Attractions In Turkmenistan
Finding Top 20 Attractions In Tunisia
Finding Top 20 Attractions In Tonga
Finding Top 20 Attractions In Turkey
Finding Top 20 Attractions In Trinidad and Tobago
Finding Top 20 Attractions In Tuvalu
Finding Top 20 Attractions In Taiwan
Finding Top 20 Attractions In Tanzania
Finding Top 20 Attractions In Ukraine
Finding Top 20 Attractions In Uganda
Finding Top 20 Attractions In U.S. Minor Outlying Islands
Finding Top 20 Attractions In United States
Finding Top 20 Attractions In Uruguay
Finding Top 20 Attractions In Uzbekistan
Finding Top 20 Attractions In Vatican City
Finding Top 20 Attractions In St Vincent and Grenadines
Finding Top 20 Attractions In Venezuela
Finding Top 20 Attractions In British Virgin Islands
Finding Top 20 Attractions In U.S. Virgin Islands
Finding Top 20 Attractions In Vietnam
Finding Top 20 Attractions In Vanuatu
Finding Top 20 Attractions In Wallis and Futuna
Finding Top 20 Attractions In Samoa
Finding Top 20 Attractions In Kosovo
Finding Top 20 Attractions In Yemen
Finding Top 20 Attractions In Mayotte
Finding Top 20 Attractions In South Africa
Finding Top 20 Attractions In Zambia
Finding Top 20 Attractions In Zimbabwe

,Country_ID,Country,Attraction,Rating,Lattitude,Longitude
0,0,Andorra,Solá irrigation canal trail,4.6,42.508526,1.518694
1,0,Andorra,The nobility of time - Salvador Dali,4.5,42.508752,1.529434
2,0,Andorra,Madriu-Perafita-Claror Valley,4.7,42.483307,1.603153
3,0,Andorra,Parc Central,4.4,42.506200,1.526007
4,0,Andorra,Casa de la Vall,4.4,42.506565,1.520573
...,...,...,...,...,...,...
4615,251,Zimbabwe,Tsindi Ruins,4.3,-18.091867,31.708083
4616,251,Zimbabwe,Matopos Game Park Curios,0.0,-20.568691,28.451350
4617,251,Zimbabwe,National Heroes' Acre,4.2,-17.834995,30.987806
4618,251,Zimbabwe,Great Zimbabwe National Monument,4.3,-20.271331,30.933129
4619,251,Zimbabwe,Mana Pools National Park,4.6,-15.937159,29.456993

##### Load:
### Load The Transformed Country Attractions DataFrame To PostgreSQL Database

In [49]:
 
# Create the engine to connect to the PostgreSQL database
engine = sqlalchemy.create_engine('postgresql://postgres:postgres@localhost:5432/countryattractions_db')

# Create the database if it does not already exist
if not database_exists(engine.url):
    create_database(engine.url)

# Write data into the table in PostgreSQL database
country_attraction_df.to_sql('ThingsToDo',engine)